HTTP_PORT = 5000
TOKEN_SECRET = "pool-party-backend-13579"
NETWORK = "https://api.devnet.solana.com"
INITIALIZER_PRIVATE_KEY = "INITIALIZER PRIVATE KEY"
WITHDRAW_PRIVATE_KEY = "WITHDRAW PUBKEY"
PROGRAM_ID = PROGRAM ID
ANCHOR_PROVIDER_URL = "https://api.devnet.solana.com"
GAME_TOKEN = "GAME TOKEN"